@page
@model IndexModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-with" />
    <meta charset="utf-8" />
    <title>Authorization</title>
</head>
<body>
    @{
        <div>
            Hello, @this.HttpContext.Session.GetString("login")
        </div>
    }

    <form method="post">
        <div>
            <input type="submit" value="Log out"/>
        </div>
    </form>
    <div>
        <a href="Create">To authorization page</a>
    </div>
</body>
</html>